.inputSearch {
    height: 4rem;
    width: 34rem;
    border-radius: 2.4rem;
    text-align: start;
    padding-left: 2rem;
    border: transparent;
}

.inputSearchError {
    height: 4rem;
    width: 20rem;
    border-radius: 8px;
    text-align: center;
    border: 1.4px solid red;
}
