.inputContainer {
    display: flex;
    flex-direction: column;
}

.imgBooks {
    width: 26rem;
    align-self: center;
}

.inputSearch {
    height: 4rem;
    width: 34rem;
    border-radius: 2.4rem;
    text-align: start;
    padding-left: 2rem;
    border: transparent;
    font-size: larger;
}

.inputSearch:focus {
    outline: none;
}

.inputSearchError {
    height: 4rem;
    width: 20rem;
    border-radius: 8px;
    text-align: center;
    border: 1.4px solid red;
}
