.buttonComponent {
    padding: 8px 20px;
    background-color: #2C9585;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    border: 1px transparent;
    cursor: pointer;
}

.loginButton {
    background-color: transparent;
    color: black;
    font-weight: 700;
    cursor: pointer;
}