.navbarMain {
    background-color: transparent;
    height: 4rem;
    padding: 0 4rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 1.6rem;
}

.loginLogout {
    text-decoration: none;
    display: flex;
    color: white;
    gap: 1rem;
}