.mainContent {
    
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 3rem;
}

.cardResult {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem;
}

.warningEmpty {
    color: red;
    font-weight: bold;
}